@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h1 class="display-4">Para ter acesso as funções, clique em Produtos ou Clientes no menu acima!</h1>
    <p>CRUD simples desenvolvido para seleção da vaga de estágio PRODAM.</p>
</div>
